@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;800&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:"Poppins",sans-serif;

}
.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#111;
    color:#fff;
    z-index: 2;
    transition: .5s;
}
.showcase.active{
    right: 300px;
}
.showcase header{
    position: absolute;
    justify-content: space-between;
    left: 0;
    top: 0; 
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display:flex;
    align-items: center;




}
.logo{
    text-transform: uppercase;
    cursor: pointer;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background-image: url('home.png');
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    filter: invert();
}
.toggle.active{
    background-image: url('close.png');
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 30px;
    filter: invert();
    


}
.showcase video{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit:fill;
    opacity: 0.8;
    background-position: center;
    align-items: center;


}
.overlay{
     position: absolute; 
    top:0;
    left: 0%;
    height: 100%;
    width: 100%;
    object-fit: fill;
    right: 0;
      /* background-color:#03a9f4;
    mix-blend-mode:overlay;  */
}
.text{
    position: relative;
    z-index: 10;
    animation-name: textanimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes textanimation{
    0%{color:orange;};
    50%{color:rgb(37, 7, 7);}
    75%{color:royalblue}
    100%{color:#fff};


}
.text h2{
    font-size: 5em;
    line-height: 1em;
    font-weight: 800;
    text-transform: uppercase;
    }
.text h3{
    font-size: 4em;
    line-height: 1em;
    font-weight:700;
    text-transform: uppercase;
}
.text p{
    font-size: 1em;
    line-height: 1em;
    font-weight:500;
    margin: 20px,0;
    max-width: 700px;

    
}
.text a{
    position: absolute;
    display: inline-block;
    text-decoration:none;
    padding: 20px;
    color: #111;
    font-size: 1em;
    background: rgb(236, 68, 12);
    margin: 0px,20px;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .3s;
    border-radius: 30px;
    justify-content: center;
    margin-top: 30px;
    animation-name: btnanimation;
    animation-duration: 2s;
}
@keyframes btnanimation{
    0%{opacity:0;}
    50%{opacity: 50%;}
    100%{opacity: 100%;}
}
.text a:hover{
    letter-spacing: 6px;



}
.social{
    position: absolute;
    bottom: 20px;
    z-index: 100;
    display:flex;
    justify-content:center;
    align-items: center;
    filter: invert();
    /* height: 30px;
    width: 30px; */



}
.social li{
    list-style: none;
    

}
.social li a{
    display: inline-block;
    transform: scale(0.5);
    margin-right: 30px;
    transition: 0.5s;
}
.social li a:hover{
    transform:scale(0.5) translateY(-15px) ;
}
.menu{
    position: absolute;
    top:0;
    right: 0;
    width: 200px;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;

}
.menu ul{
    position: relative;
    list-style: none;
    
}
menu ul li a{
    text-decoration: none;
    font-size: 24px;
    color:#111;

}
.menu ul li a:hover{
    color:blue; 
    


}
@media(max-width:889px){
    .showcase,
    .showcase header{
        padding: 0px;
        max-height: 70vh;
        margin-top: 0%;


    }
    .showcase .logo{
        font-size:1em;
    }
    .text h2{
        font-size: 3em;


    }
    .text h3{
        font-size: 2em;

    }
    .social{
        bottom: 10px;
    }
    .text p{
        max-width:576px;
    }
    .text a{
        left:35%;
    }






}
